a.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
a.navbar-brand i {
    color: rgb(119, 23, 76);
}
a.navbar-brand span {
    color:teal
}

div.header {
    margin: auto;
}

table {
    margin: auto;
}
input.login-button {
    background-color: teal;
    border-color: teal;
}

img.icon-google {
    display: inline-flex;
    object-fit: contain;
    object-position: center;
}
.btn-social button {
    font-size: large;
}

a.forgotpass {
    color: teal;
    
}

