* {
    box-sizing: border-box;
  }
  /*navigation bar*/
  ul.navbar-nav {
    display:inline;
    list-style: none;
     
  }
  
  
  /* header CSS */
  div.navbar-header > a.navbar-brand {
    color: rgb(10, 110, 69);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }
  
  
  
  /* search CSS*/
  
  #searchform {
    background-color: #eee;
    
  }
  #searchform:focus {
    background-color: transparent;
   
  }
  
  
  
  #navbarCollapse li {
    text-align: end;
  }
  #navbarCollapse a {
    color:#222; 
  }
  #navbarCollapse a:hover {
    color:teal;
  }
  
  
  
  /*
  ul.navbar-nav > li.nav-link a {
    color: black;
    padding: 8px;  
  }*/
  
  
  
  
  /* dropdown CSS*/
  #nav-tabs {
    position: relative;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
  li.nav-item.dropdown:hover {
    border-top-style: solid;
    border-top-color: teal;
  }
  a.dropdown-toggle {
    /*color: rgb(20, 20, 20);*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
    word-spacing: 5px;
    }
  a.getideas {
    color: rgb(20, 20, 20);
  }  
  a.findpro {
    color:rgb(20, 20, 20)
  }
  a.shopbydept {
    color:rgb(20, 20, 20)
  }
  a.sale {
    color:teal;
  }
  
  a.dropdown-toggle i {
    padding-left: 5px;
    padding: 3px;
  }  
  
  .dropdown-menu a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }
  @media (min-width: 768px) {
    .dropdown-toggle {
      justify-content: flex-end;
      
    }
  }

  #filter-menu {
      background: -moz-linear-gradient();
      background-color: antiquewhite;
  }