#nav-links ul {
  float: right;
}

.searchform input {
  background-image: url(/Images/search-icon-1.png);

}

.searchbtn {
  margin-left: -70px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.jumbotron {
  height: 500px;
}

img {
  min-width: 100%;
  display: inline-block;
  height: 500px;
}



.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}