
* {
  box-sizing: border-box;
}
/*navigation bar*/
ul.navbar-nav {
  display:inline;
  list-style: none;
   
}


/* header CSS */
div.navbar-header > a.navbar-brand {
  color: rgb(10, 110, 69);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}



/* search CSS*/

#searchform {
  background-color: #eee;
  
}
#searchform:focus {
  background-color: transparent;
 
}



#navbarCollapse li {
  text-align: end;
}
#navbarCollapse a {
  color:#222; 
}
#navbarCollapse a:hover {
  color:teal;
}



/*
ul.navbar-nav > li.nav-link a {
  color: black;
  padding: 8px;  
}*/




/* dropdown CSS*/
#nav-tabs {
  position: relative;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

li.nav-item.dropdown:hover {
  border-top-style: solid;
  border-top-color: teal;
}
a.dropdown-toggle {
  /*color: rgb(20, 20, 20);*/
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  word-spacing: 5px;
  }
a.getideas {
  color: rgb(20, 20, 20);
}  
a.findpro {
  color:rgb(20, 20, 20)
}
a.shopbydept {
  color:rgb(20, 20, 20)
}
a.sale {
  color:teal;
}

a.dropdown-toggle i {
  padding-left: 5px;
  padding: 3px;
}  

.dropdown-menu a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
@media (min-width: 768px) {
  .dropdown-toggle {
    justify-content: flex-end;
    
  }
}

div.container-fluid.bigslideshow {
  padding-top: 0%;
}
.bigslider-inner img {
  width: 100%;
  display: inline-block;
  max-height: 65vh;
  object-fit: cover;
  object-position: center;
  
}

.bigslider {
  position: relative;
}
.bigslider-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*thumbnail slideshow*/
div.container.container-fluid {
  padding-top:20px;
}
h1.slideshow {
  color:rgb(20, 20, 20);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
}


#mySlideshow .carousel-control-prev {
	left: -12px;
  background: none;
  color: #222;
  font-size: 2.0em;
  text-shadow: none;
  
}
button.btn.btn-light.btn-md.left {
  position: absolute;
  left: 0px;
  border-radius: 30px;
  background-color: #fff;
  border-style: outset;
  margin-bottom:50%;
}

#mySlideshow .carousel-control-next {
  right: -12px;
  float:right;
  color:#222;
  font-size: 2.0em;
}
button.btn.btn-light.btn-md.right {
  position: absolute;
  right: 0px;
  border-radius: 30px;
  background-color: #fff;
  border-style: outset; 
  margin-bottom: 50%;
}

div.col-md-2.thumbs img {
  border-style: outset;
  border-radius: 5px;
  border-color: #fff;
}
div.col-md-2.thumbs a:hover {
  border-style: outset;
  border-radius: 5px;
  border-color: rgb(249, 249, 252);
 
}
div.col-md-2.thumbs a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 20, 20);
  font-size: small;
  text-align: center;
  margin-bottom: -10%;
  font-weight:900;
  
}
#mySlideshow .carousel-caption{
  position:relative;
  top:0%;
  left:0%;
}
#mySlideshow .carousel-caption > p {
  color: #222;
}

#mySlideshow1 .carousel-control-prev {
	left: -12px;
  background: none;
  color: #222;
  font-size: 2.0em;
  text-shadow: none;
  
}
#mySlideshow1 .carousel-control-next {
  right: -12px;
  float:right;
  color:#222;
  font-size: 2.0em;
}
#mySlideshow1 .carousel-caption{
  position:relative;
  top:0%;
  left:0%;
}
#mySlideshow1 .carousel-caption > p {
  color: #222;
}
